<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="bodycenterx">
    <form action="{{ url_for("gfg")}}" method="post">
        <div class="divtopleft">
            <label for="Pedido">Numero Pedido</label>
            <input type="text" name="Numero1" id="Numero1" placeholder="Numero Pedido">
            <label for="N">Nombre:</label>
            <input type="text" id="Nombre1" name="Nombre1" placeholder="Nombre">
            <label for="lastname">Apellido:</label>
            <input type="text" id="Apellido1" name="Apellido1" placeholder="Apellido">
            <label for="Direccion">Direccion:</label>
            <input type="text" id="Direccion1" name="Direccion1" placeholder="Direccion">
            <label for="Comuna">Comuna:</label>
            <input type="text" id="Comuna1" name="Comuna1" placeholder="Comuna">
            <label for="Telefono">Telefono:</label>
            <input type="text" id="Telefono1" name="Telefono1" placeholder="Telefono">
            <label for="Correo">Correo:</label>
            <input type="text" id="Correo1" name="Correo1" placeholder="Correo">
        </div>
        <div class="divtopright">
            <label for="Pedido">Numero Pedido</label>
            <input type="text" name="Numero2" id="Numero2" placeholder="Numero Pedido">
            <label for="N">Nombre:</label>
            <input type="text" id="Nombre" name="Nombre2" placeholder="Nombre">
            <label for="lastname">Apellido:</label>
            <input type="text" id="Apellido2" name="Apellido2" placeholder="Apellido">
            <label for="Direccion">Direccion:</label>
            <input type="text" id="Direccion2" name="Direccion2" placeholder="Direccion">
            <label for="Comuna">Comuna:</label>
            <input type="text" id="Comuna2" name="Comuna2" placeholder="Comuna">
            <label for="Telefono">Telefono:</label>
            <input type="text" id="Telefono2" name="Telefono2" placeholder="Telefono">
            <label for="Correo">Correo:</label>
            <input type="text" id="Correo2" name="Correo2" placeholder="Correo">
        </div>
        <div class="divmiddletopleft">
            <label for="Pedido">Numero Pedido</label>
            <input type="text" name="Numero3" id="Numero3" placeholder="Numero Pedido">
            <label for="N">Nombre:</label>
            <input type="text" id="Nombre3" name="Nombre3" placeholder="Nombre">
            <label for="lastname">Apellido:</label>
            <input type="text" id="Apellido3" name="Apellido3" placeholder="Apellido">
            <label for="Direccion">Direccion:</label>
            <input type="text" id="Direccion3" name="Direccion3" placeholder="Direccion">
            <label for="Comuna">Comuna:</label>
            <input type="text" id="Comuna3" name="Comuna3" placeholder="Comuna">
            <label for="Telefono">Telefono:</label>
            <input type="text" id="Telefono3" name="Telefono3" placeholder="Telefono">
            <label for="Correo">Correo:</label>
            <input type="text" id="Correo3" name="Correo3" placeholder="Correo">
        </div>
        <div class="divmiddletopright">
            <label for="Pedido">Numero Pedido</label>
            <input type="text" name="Numero4" id="Numero4" placeholder="Numero Pedido">
            <label for="N">Nombre:</label>
            <input type="text" id="Nombre4" name="Nombre4" placeholder="Nombre">
            <label for="lastname">Apellido:</label>
            <input type="text" id="Apellido4" name="Apellido4" placeholder="Apellido">
            <label for="Direccion">Direccion:</label>
            <input type="text" id="Direccion4" name="Direccion4" placeholder="Direccion">
            <label for="Comuna">Comuna:</label>
            <input type="text" id="Comuna4" name="Comuna4" placeholder="Comuna">
            <label for="Telefono">Telefono:</label>
            <input type="text" id="Telefono4" name="Telefono4" placeholder="Telefono">
            <label for="Correo">Correo:</label>
            <input type="text" id="Correo4" name="Correo4" placeholder="Correo">
        </div>
        <div class="divmiddlebottomleft">
            <label for="Pedido">Numero Pedido</label>
            <input type="text" name="Numero5" id="Numero5" placeholder="Numero Pedido">
            <label for="N">Nombre:</label>
            <input type="text" id="Nombre5" name="Nombre5" placeholder="Nombre">
            <label for="lastname">Apellido:</label>
            <input type="text" id="Apellido5" name="Apellido5" placeholder="Apellido">
            <label for="Direccion">Direccion:</label>
            <input type="text" id="Direccion5" name="Direccion5" placeholder="Direccion">
            <label for="Comuna">Comuna:</label>
            <input type="text" id="Comuna5" name="Comuna5" placeholder="Comuna">
            <label for="Telefono">Telefono:</label>
            <input type="text" id="Telefono5" name="Telefono5" placeholder="Telefono">
            <label for="Correo">Correo:</label>
            <input type="text" id="Correo5" name="Correo5" placeholder="Correo">
        </div>
        <div class="divmiddlebottomright">
            <label for="Pedido">Numero Pedido</label>
            <input type="text" name="Numero6" id="Numero6" placeholder="Numero Pedido">
            <label for="N">Nombre:</label>
            <input type="text" id="Nombre6" name="Nombre6" placeholder="Nombre">
            <label for="lastname">Apellido:</label>
            <input type="text" id="Apellido6" name="Apellido6" placeholder="Apellido">
            <label for="Direccion">Direccion:</label>
            <input type="text" id="Direccion6" name="Direccion6" placeholder="Direccion">
            <label for="Comuna">Comuna:</label>
            <input type="text" id="Comuna6" name="Comuna6" placeholder="Comuna">
            <label for="Telefono">Telefono:</label>
            <input type="text" id="Telefono6" name="Telefono6" placeholder="Telefono">
            <label for="Correo">Correo:</label>
            <input type="text" id="Correo6" name="Correo6" placeholder="Correo">
        </div>
        <div class="divbottomleft">
            <label for="Pedido">Numero Pedido</label>
            <input type="text" name="Numero7" id="Numero7" placeholder="Numero Pedido">
            <label for="N">Nombre:</label>
            <input type="text" id="Nombre7" name="Nombre7" placeholder="Nombre">
            <label for="lastname">Apellido:</label>
            <input type="text" id="Apellido7" name="Apellido7" placeholder="Apellido">
            <label for="Direccion">Direccion:</label>
            <input type="text" id="Direccion7" name="Direccion7" placeholder="Direccion">
            <label for="Comuna">Comuna:</label>
            <input type="text" id="Comuna7" name="Comuna7" placeholder="Comuna">
            <label for="Telefono">Telefono:</label>
            <input type="text" id="Telefono7" name="Telefono7" placeholder="Telefono">
            <label for="Correo">Correo:</label>
            <input type="text" id="Correo7" name="Correo7" placeholder="Correo">
        </div>
        <div class="divbottomright">
            <label for="Pedido">Numero Pedido</label>
            <input type="text" name="Numero8" id="Numero8" placeholder="Numero Pedido">
            <label for="N">Nombre:</label>
            <input type="text" id="Nombre8" name="Nombre8" placeholder="Nombre">
            <label for="lastname">Apellido:</label>
            <input type="text" id="Apellido8" name="Apellido8" placeholder="Apellido">
            <label for="Direccion">Direccion:</label>
            <input type="text" id="Direccion8" name="Direccion8" placeholder="Direccion">
            <label for="Comuna">Comuna:</label>
            <input type="text" id="Comuna8" name="Comuna8" placeholder="Comuna">
            <label for="Telefono">Telefono:</label>
            <input type="text" id="Telefono8" name="Telefono8" placeholder="Telefono">
            <label for="Correo">Correo:</label>
            <input type="text" id="Correo8" name="Correo8" placeholder="Correo">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>

        

</body>
</html>
