<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Template</title>
  </head>
  <body>
    <div class="divtopleft">
      <h3>{{Numero1}}</h3>
      <h4>{{Nombre1}} {{Apellido1}}</h4>
      <h5>{{Direccion1}}</h5>
      <h3>{{Comuna1}}</h3>
      <h5>{{Telefono1}}</h5>
      <h5>{{Correo1}}</h5>
    </div>
    <div class="divtopright">
      <h3>{{Numero2}}</h3>
      <h4>{{Nombre2}} {{Apellido2}}</h4>
      <h5>{{Direccion2}}</h5>
      <h3>{{Comuna2}}</h3>
      <h5>{{Telefono2}}</h5>
      <h5>{{Correo2}}</h5>
    </div>
    <div class="divmiddletopleft">
      <h3>{{Numero3}}</h3>
      <h4>{{Nombre3}} {{Apellido3}}</h4>
      <h5>{{Direccion3}}</h5>
      <h3>{{Comuna3}}</h3>
      <h5>{{Telefono3}}</h5>
      <h5>{{Correo3}}</h5>
    </div>
    <div class="divmiddletopright">
      <h3>{{Numero4}}</h3>
      <h4>{{Nombre4}} {{Apellido4}}</h4>
      <h5>{{Direccion4}}</h5>
      <h3>{{Comuna4}}</h3>
      <h5>{{Telefono4}}</h5>
      <h5>{{Correo4}}</h5>
    </div>
    <div class="divmiddlebottomleft">
      <h3>{{Numero5}}</h3>
      <h4>{{Nombre5}} {{Apellido5}}</h4>
      <h5>{{Direccion5}}</h5>
      <h3>{{Comuna5}}</h3>
      <h5>{{Telefono5}}</h5>
      <h5>{{Correo5}}</h5>
    </div>
    <div class="divmiddlebottomright">
      <h3>{{Numero6}}</h3>
      <h4>{{Nombre6}} {{Apellido6}}</h4>
      <h5>{{Direccion6}}</h5>
      <h3>{{Comuna6}}</h3>
      <h5>{{Telefono6}}</h5>
      <h5>{{Correo6}}</h5>
    </div>
    <div class="divbottomleft">
      <h3>{{Numero7}}</h3>
      <h4>{{Nombre7}} {{Apellido7}}</h4>
      <h5>{{Direccion7}}</h5>
      <h3>{{Comuna7}}</h3>
      <h5>{{Telefono7}}</h5>
      <h5>{{Correo7}}</h5>
    </div>
    <div class="divbottomright">
      <h3>{{Numero8}}</h3>
      <h4>{{Nombre8}} {{Apellido8}}</h4>
      <h5>{{Direccion8}}</h5>
      <h3>{{Comuna8}}</h3>
      <h5>{{Telefono8}}</h5>
      <h5>{{Correo8}}</h5>
    </div>
  </body>
</html>
